@import "tailwindcss";
@import "fumadocs-ui/css/ocean.css";
@import "fumadocs-ui/css/preset.css";

@source '../node_modules/fumadocs-ui/dist/**/*.js';

#nd-sidebar > :first-child > :first-child > :nth-child(2) {
  @apply hover:bg-fd-accent/80 cursor-pointer;
}

@layer utilities {
  .prose blockquote {
    margin: 0;
    padding: 0 1em;
    opacity: 0.6;
    border-left: 0.25em solid #3d444d;
    font-style: normal;
    & > p::before,
    & > p::after {
      content: "" !important;
    }
  }
}
