@import url("https://gcore.jsdelivr.net/npm/misans-webfont@1.0.4/misans-style.min.css");

$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);

:root {
  // 首页图片特效
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #34a0fe 30%, #31ce39);
  --vp-home-hero-image-background-image: linear-gradient(120deg, #34a0fe 50%, #47ff50 50%);
  --vp-home-hero-image-filter: blur(44px);

  // 适配不同屏幕大小
  @media (min-width: 640px) {
    --vp-home-hero-image-filter: blur(56px);
  }

  @media (min-width: 960px) {
    --vp-home-hero-image-filter: blur(68px);
  }
}

:root {
  // 字体
  --vp-font-family-base: "MiSans", -apple-system, system-ui, sans-serif;

  // 透明侧边栏
  --vp-sidebar-bg-color: #fff;

  // 自定义配色
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
  --vp-button-brand-bg: #2097ff;
  --vp-button-alt-bg: #efefef;
  --vp-button-brand-hover-bg: var(--vp-button-brand-bg);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
  --vp-button-alt-hover-bg: var(--vp-button-alt-bg);
  --vp-button-alt-active-bg: var(--vp-button-alt-bg);
  --vp-c-brand-1: var(--vp-c-green-1);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);
  --vp-c-brand-soft: var(--vp-c-green-soft);
  --vp-c-divider: #e5e5e5;

  &.dark {
    --vp-sidebar-bg-color: #000;
    --vp-c-bg: #000;
    --vp-c-bg-alt: #090909;
    --vp-c-bg-elv: #090909;
    --vp-c-bg-soft: #090909;
    --vp-button-brand-bg: #006bc8;
    --vp-button-alt-bg: #121212;
    --vp-c-divider: #121212;
  }
}

.VPButton {
  transition: 0.5s $ease-out-expo !important;

  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.9);
  }
}

.VPButton.brand {
  box-shadow: 0 0 64px var(--vp-button-brand-bg);
}

.VPHomeHero .main {
  @for $i from 1 through 4 {
    > :nth-child(#{$i}) {
      animation: enter 0.5s $ease-out-expo forwards;
      animation-delay: #{$i * 0.1}s;
      transform: translateX(-300%);
    }
  }

  @keyframes enter {
    to {
      transform: translateX(0);
    }
  }
}
.VPHomeFeatures .items {
  @for $i from 1 through 10 {
    > :nth-child(#{$i}) {
      animation: enter 0.5s $ease-out-expo forwards;
      animation-delay: #{0.5 + $i * 0.1}s;
      transform: scale(0.5);
      opacity: 0;
    }
  }

  @keyframes enter {
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.Layout:has(.is-home) {
  animation: enter 0.5s $ease-out-expo forwards;
  transform: scale(0.2);
  opacity: 0;

  @keyframes enter {
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.VPNavBar:not(.home.top) .content-body {
  backdrop-filter: saturate(50%) blur(4px);
  background-color: unset !important;
  background-image: radial-gradient(transparent 1px, var(--vp-nav-bg-color) 1px);
  background-size: 4px 4px;
}
.DocSearch-Button {
  background-color: transparent;
  border-radius: 9999px;
  transition: 0.5s $ease-out-expo !important;

  &:active {
    transform: scale(0.9);
  }
}

.custom-block {
  border-radius: 16px;

  &.info {
    box-shadow: 0 0 64px var(--vp-custom-block-info-bg);
  }
  &.tip {
    box-shadow: 0 0 64px var(--vp-custom-block-tip-bg);
  }
  &.warning {
    box-shadow: 0 0 64px var(--vp-custom-block-warning-bg);
  }
  &.danger {
    box-shadow: 0 0 64px var(--vp-custom-block-danger-bg);
  }
  &.note {
    box-shadow: 0 0 64px var(--vp-custom-block-note-bg);
  }
  &.important {
    box-shadow: 0 0 64px var(--vp-custom-block-important-bg);
  }
  &.caution {
    box-shadow: 0 0 64px var(--vp-custom-block-caution-bg);
  }
  &.details {
    box-shadow: 0 0 64px var(--vp-custom-block-details-bg);
  }
}

a {
  text-shadow: 0 0 16px transparent;
  transition: 0.3s $ease-out-expo !important;
  &:hover {
    text-shadow: 0 0 16px var(--vp-c-brand-1);
  }
}

.prev-next {
  display: flex !important;
  justify-content: space-between;

  .pager-link {
    display: flex;
    gap: 4px;
    border-radius: 9999px;

    &.next {
      flex-direction: row-reverse;
    }

    > * {
      font-size: 14px;
    }
  }
}
