@import "tailwindcss";
@import "tw-animate-css";

@custom-variant page (&.active);
@theme {
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}

@layer base {
  body,
  #root {
    @apply h-screen bg-transparent;
  }
  * {
    @apply ease-out-expo box-border cursor-default select-none transition duration-500 [-webkit-user-drag:none] [color-scheme:dark];
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "MiSans", "Noto Sans CJK SC", sans-serif;
    font-antialiasing: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .cursor-pointer > svg.lucide,
  .cursor-pointer > svg.lucide *,
  .\*\:cursor-pointer > * > svg.lucide,
  .\*\:cursor-pointer > * > svg.lucide * {
    @apply cursor-pointer;
  }
  /* svg.lucide {
    width: 1.5em;
    height: 1.5em;
  } */
}

@layer components {
  /* Class assigned to popover wrapper */
  .driver-popover {
    @apply rounded-3xl bg-blue-950 p-6 text-white;
  }

  /* Arrow pointing towards the highlighted element */
  .driver-popover-arrow {
    @apply hidden;
  }

  /* Title and description */
  .driver-popover-title {
    @apply text-xl font-normal;
    font-family: "-apple-system, BlinkMacSystemFont, system-ui, sans-serif" !important;
  }
  .driver-popover-description {
    font-family: "-apple-system, BlinkMacSystemFont, system-ui, sans-serif" !important;
  }

  /* Close button displayed on the top right corner */
  .driver-popover-close-btn {
    @apply right-4 top-4 transition hover:scale-125 hover:text-white;
  }

  /* Footer of the popover displaying progress and navigation buttons */
  .driver-popover-footer {
  }
  .driver-popover-progress-text {
  }
  .driver-popover-prev-btn,
  .driver-popover-next-btn {
    @apply rounded-full! border-none! bg-blue-900! px-3! py-2! text-white! transition! hover:scale-125! active:scale-90!;
    font-family: "-apple-system, BlinkMacSystemFont, system-ui, sans-serif" !important;
    text-shadow: none !important;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
