@import "tailwindcss";
/** 
 * 上面这个的后面不能加important，会导致所有的按钮失去鼠标悬浮的小手样子
 * 来自commit：31bd56b87fe132291f8deaa1c9c3b57b6cb6ffc2
 * 修复教程始终弹出
 */

@custom-variant page (&.active);

@theme {
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}
@theme inline {
  --color-titlebar-bg: var(--color-titlebar-bg);
  --color-titlebar-text: var(--color-titlebar-text);
  --color-titlebar-border: var(--color-titlebar-border);
  --color-titlebar-control-hover-bg: var(--color-titlebar-control-hover-bg);
  --color-tooltip-bg: var(--color-tooltip-bg);
  --color-tooltip-text: var(--color-tooltip-text);
  --color-tooltip-border: var(--color-tooltip-border);
  --color-button-bg: var(--color-button-bg);
  --color-button-text: var(--color-button-text);
  --color-button-border: var(--color-button-border);
  --color-input-bg: var(--color-input-bg);
  --color-input-text: var(--color-input-text);
  --color-input-border: var(--color-input-border);
  --color-input-placeholder: var(--color-input-placeholder);
  --color-keybind-bg: var(--color-keybind-bg);
  --color-keybind-text: var(--color-keybind-text);
  --color-keybind-border: var(--color-keybind-border);
  --color-keybind-active-outline: var(--color-keybind-active-outline);
  --color-keybind-modifiers-bg: var(--color-keybind-modifiers-bg);
  --color-keybind-modifiers-text: var(--color-keybind-modifiers-text);
  --color-select-bg: var(--color-select-bg);
  --color-select-text: var(--color-select-text);
  --color-select-border: var(--color-select-border);
  --color-select-popup-bg: var(--color-select-popup-bg);
  --color-select-popup-border: var(--color-select-popup-border);
  --color-select-popup-shadow: var(--color-select-popup-shadow);
  --color-select-option-bg: var(--color-select-option-bg);
  --color-select-option-text: var(--color-select-option-text);
  --color-select-option-border: var(--color-select-option-border);
  --color-select-option-hover-bg: var(--color-select-option-hover-bg);
  --color-select-option-hover-text: var(--color-select-option-hover-text);
  --color-select-option-hover-border: var(--color-select-option-hover-border);
  --color-select-option-selected-bg: var(--color-select-option-selected-bg);
  --color-select-option-selected-text: var(--color-select-option-selected-text);
  --color-select-option-selected-border: var(--color-select-option-selected-border);
  --color-select-option-selected-hover-bg: var(--color-select-option-selected-hover-bg);
  --color-select-option-selected-hover-text: var(--color-select-option-selected-hover-text);
  --color-select-option-selected-hover-border: var(--color-select-option-selected-hover-border);
  --color-slider-line: var(--color-slider-line);
  --color-slider-handle: var(--color-slider-handle);
  --color-switch-false-bg: var(--color-switch-false-bg);
  --color-switch-false-dot: var(--color-switch-false-dot);
  --color-switch-true-bg: var(--color-switch-true-bg);
  --color-switch-true-dot: var(--color-switch-true-dot);
  --color-switch-disabled-bg: var(--color-switch-disabled-bg);
  --color-switch-disabled-dot: var(--color-switch-disabled-dot);
  --color-appmenu-bg: var(--color-appmenu-bg);
  --color-appmenu-border: var(--color-appmenu-border);
  --color-appmenu-category-title: var(--color-appmenu-category-title);
  --color-appmenu-category-separator: var(--color-appmenu-category-separator);
  --color-appmenu-item-text: var(--color-appmenu-item-text);
  --color-appmenu-hover-bg: var(--color-appmenu-hover-bg);
  --color-toolbar-bg: var(--color-toolbar-bg);
  --color-toolbar-icon: var(--color-toolbar-text);
  --color-toolbar-icon-hover-bg: var(--color-toolbar-icon-hover-bg);
  --color-toolbar-border: var(--color-toolbar-border);
  --color-toolbar-tooltip-bg: var(--color-tooltip-bg);
  --color-toolbar-tooltip-text: var(--color-tooltip-text);
  --color-toolbar-tooltip-border: var(--color-tooltip-border);
  --color-toolbar-collapsed-bg: var(--color-toolbar-collapsed-bg);
  --color-toolbar-selected-item-bg: var(--color-toolbar-selected-item-bg);
  --color-settings-page-bg: var(--color-settings-page-bg);
  --color-settings-text: var(--color-appmenu-item-text);
  --color-field-group-bg: var(--color-field-group-bg);
  --color-field-group-hover-bg: var(--color-field-group-hover-bg);
  --color-sub-window-bg: var(--color-sub-window-bg);
  --color-sub-window-text: var(--color-sub-window-text);
  --color-sub-window-border: var(--color-sub-window-border);
  --color-sub-window-shadow: var(--color-sub-window-shadow);
}

@layer base {
  body,
  #root {
    @apply h-screen bg-transparent;
  }
  * {
    @apply ease-out-expo box-border cursor-default select-none transition duration-500 [-webkit-user-drag:none] [color-scheme:dark];
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "MiSans", "Noto Sans CJK SC", sans-serif;
    font-antialiasing: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

@layer components {
  /* Class assigned to popover wrapper */
  .driver-popover {
    @apply rounded-3xl bg-blue-950 p-6 text-white;
  }

  /* Arrow pointing towards the highlighted element */
  .driver-popover-arrow {
    @apply hidden;
  }

  /* Title and description */
  .driver-popover-title {
    @apply text-xl font-normal;
    font-family: "-apple-system, BlinkMacSystemFont, system-ui, sans-serif" !important;
  }
  .driver-popover-description {
    font-family: "-apple-system, BlinkMacSystemFont, system-ui, sans-serif" !important;
  }

  /* Close button displayed on the top right corner */
  .driver-popover-close-btn {
    @apply right-4 top-4 transition hover:scale-125 hover:text-white;
  }

  /* Footer of the popover displaying progress and navigation buttons */
  .driver-popover-footer {
  }
  .driver-popover-progress-text {
  }
  .driver-popover-prev-btn,
  .driver-popover-next-btn {
    @apply rounded-full! border-none! bg-blue-900! px-3! py-2! text-white! transition! hover:scale-125! active:scale-90!;
    font-family: "-apple-system, BlinkMacSystemFont, system-ui, sans-serif" !important;
    text-shadow: none !important;
  }
}
