@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MiSans";
  src:
    local("MiSans"),
    local("MiSans VF"),
    url("./assets/MiSans-Medium.woff2") format("woff2");
}

@layer base {
  body,
  #root {
    @apply h-screen bg-transparent;
  }
  * {
    @apply box-border cursor-default select-none [-webkit-user-drag:none] [color-scheme:dark];
    font-family: "MiSans";
  }
}
